<div class="containter-fluid">
    <div class="row">
        <div class="col-md-2">
            <form action="" method="POST" role="form">
                <div class="form-group">
                    <label for="inputSearch">Search:</label>
                    <input type="text" class="form-control" id="inputSearch" placeholder="Input field" ng-model="$ctrl.query">
                </div>
                <div class="form-group">
                    <label for="inputOrder">Sort by:</label>
                    <select name="order" id="inputOrder" class="form-control" ng-model="$ctrl.orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="age">Newest</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-10">
            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
                    <span>{{phone.name}}</span>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
        </div>
    </div>
</div>
