<div class="containter-fluid">
    <div class="row">
        <div class="col-md-2">
            <form action="" method="POST" role="form">
                <div class="form-group">
                    <label for="inputSearch">Search:</label>
                    <input type="text" class="form-control" id="inputSearch" placeholder="Input field" ng-model="$ctrl.query">
                </div>
                <div class="form-group">
                    <label for="inputOrder">Sort by:</label>
                    <select name="order" id="inputOrder" class="form-control" ng-model="$ctrl.orderProp">
                        <option value="name">Alphabetical</option>
                        <option value="age">Newest</option>
                    </select>
                </div>
                <!-- <p>Total number of phones: {{$ctrl.totalPhones}}</p> -->
            </form>
        </div>
        <div class="col-md-10">
            <ul class="phones">
                <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp" class="thumbnail">
                    <a href="#!/phones/{{phone.id}}" class="thumbnail">
                        <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
                    </a>
                    <a href="#!/phones/{{phone.id}}">{{phone.name}}</a>
                    <p>{{phone.snippet}}</p>
                </li>
            </ul>
            <pre>{{$ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp | json}}</pre>
        </div>
    </div>
</div>
